.rock,.paper,.scissors{
  width: 100px;
  border-radius: 60px;
  height: 100px;
  display: inline block;
  margin-right: 20px;
  margin-left: 20px;
  transition:1s;
}
  
.rock, .paper, .scissors:active{ 
   cursor: pointer;
   width:200px;
   height:200px;
   border-radius:100px;
}
 .rock, .paper, .scissors:hover{ 
   cursor: pointer;
   width:150px;
   height:150px;
   border-radius:90px;
  }

.game{
  color:rgb(0, 204, 255);
  text-align: center;
  font-size:40px;
}

body{
background-color: aqua;
}

.answer{width: 100px;
  height: 20px ;
  contain: content;
  content: text;
}
